{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kohli</title>
    <link rel="alternate" href="{% static 'css/c1.css' %}" type="application/atom+xml" title="Atom">

</head>
<body>
    <center>
        <h1>king kohli</h1>        
        <img src="{% static 'images/kohli.jpg' %}" alt="empty">
        <p>Virat Kohli's push to regain the mantle as the No.1 ranked ODI player in the world has gained further momentum after the India star made good ground on the latest update to the MRF Tyres ODI Player Rankings.

        </p>
    </center>
    
</body>
</html>