{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virat</title>
    <link rel="alternate" href="{% static 'css/c1.css' %}" type="application/atom+xml" title="Atom">
</head>
<body>
    <center>
           <h1>Virat kohli2 </h1>
           <img src="{% static 'images/kohli2.jpg' %}" alt="Hello">
           <p>
            Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket. Kohli is widely regarded as one of the greatest batsmen in the history of the sport.
           </p>
    </center>

    
</body>
</html>